{% extends "pred_prey/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
{% endblock %}

{% block app_content %}
<div class="container-fluid">
  <div class="row g-3">
    <div id="parameters-container" class="col">
      <div class="pb-3">
        <div class="card">
          <h5 class="card-header">Parameters</h5>
          <div class="card-body">
            <p>CONTENT</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div id="population-dynamics-container" class="pb-3">
            <div class="card">
              <h5 class="card-header">Population Dynamics</h5>
              <div class="card-body">
                <p>CONTENT</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="phase-space-container" class="pb-3">
            <div class="card">
              <h5 class="card-header">Phase-Space Plot</h5>
              <div class="card-body">
                <p>CONTENT</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}